// Hero pets section
section.hero-pets
    .container
        .hero-pets__wrap
            .hero-pets__image
                img(src="./assets/images/image-hero-pets.png" alt="hero pets")
                img(src="./assets/images/background-five.png" alt="background-five" class="hero-pets__bg-five")

            .hero-pets__content
                img(src="./assets/images/background-six.png" alt="background-six" class="hero-pets__bg-six")
                h2.hero-pets__title One more friend
                h3.hero-pets__sub-title Thousands more fun!
                p.hero-pets__description
                    | Having a pet means you have more joy, a new friend, a happy person who will always be with you to
                    | have fun. We have 200+ different pets that can meet your needs!
                .hero-pets__button
                    a(href="#" class="hero-pets__button--left")
                        | View Intro
                        i.fa-regular.fa-circle-play

                    a(href="#" class="hero-pets__button--right") Explore Now
